@use "global" as *;

.c-more-btn {
  color: white;
  font-size: rem(14);
  letter-spacing: 0.08em;
  line-height: 1;
  text-align: center;
  font-family: $font-sub;
  padding: rem(18) rem(5);
  max-width: rem(349);
  width: 100%;
  display: block;
  border-radius: rem(30);
  position: relative;
  border: $white 1px solid;
  font-weight: 500;
  @include mq(md) {
    max-width: vw-m(500);
    padding: rem(17.5) rem(5);
    @include mq(sm) {
      font-size:rem(12);
    }
  }
}

.c-more-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: rem(28);
  height: 100%;
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  right: 7.45%;
  transition: right 0.3s ease;
  @include mq(md) {
    width: vw-m(25);
  }
}

@media (hover: hover) {
  .c-more-btn:hover::after {
    right: 1%;
  }
}