@use "global" as *;

/*footer*/

.p-footer {
  padding: rem(80) 0 rem(50);
  @include mq(md) {
    padding: vw-m(15) 0 vw-m(5);
  }
}

.p-footer__logo {
  width: rem(120);
  display: block;
  margin: 0 auto;
  @include mq(md) {
    width: rem(120);
  }
}

.p-footer__nav {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: vw-m(25);
  }
}

.p-footer__items {
  display: flex;
  justify-content: center;
}

.p-footer__item {
  font-size: rem(16);
  letter-spacing: 0.08em;
  @include mq(md) {
    font-size: vw-m(13);
  }
}

.p-footer__item:not(:first-child) {
  margin-left: rem(55);
  @include mq(md) {
    margin-left: vw-m(30);
    white-space: nowrap;
  }
}

.p-footer__link {
  padding: 0.5em 0;
  display: inline-block;
}

.p-footer__link span {
  opacity: 1;
  transition: opacity 0.4s;
}

.p-footer__link span.is-active {
  opacity: 0.4;
}

.p-footer__copy {
  text-align: center;
  font-size: rem(11);
  letter-spacing: 0.06em;
  margin-top: rem(35);
  @include mq(md) {
    margin-top: vw-m(25);
  }
}

// .js-text > span {
//   display: inline-block;
// }


.p-footer__top {
  background-color: $white;
  display: flex;
  line-height: 1;
  text-align: center;
  width: rem(62);
  height: rem(62);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  bottom: 28px;
  position: fixed;
  right: 28px;
  border: $navy 1px solid;
  transition: all 0.3s ease;
  z-index: 1000;
  @include mq(md) {
    width: vw-m(46);
    height: vw-m(46);
    bottom: rem(200);
  }
}

.p-footer__top::after {
  content: "";
  background-image: url(../img/arrow-top_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(16);
  height: rem(16);
  display: block;
  @include mq(md) {
    width: vw-m(12);
    height: vw-m(12);
  }
}

@media (hover: hover) {
  .p-footer__top:hover {
    border: $gold 1px solid;
    transform: scale(1.05);
  }
  .p-footer__top:hover::after {
    background-image: url(../img/arrow-top_2.svg);
  }
}