@use "global" as *;

/* top - concept*/

.p-concept {
  padding-top: rem(65);
}

.p-concept__inner {
  max-width: rem(1287);
}

.p-concept__ttl {
  display: none;
  @include mq(md) {
    display: block;
    font-size: vw-m(27);
    color: $navy-20;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }
}

.p-concept__wrapper {
  display: flex;
  padding-bottom: rem(60);
  @include mq(md) {
    flex-direction: column;
    padding-bottom: vw-m(75);
  }
}

.p-concept__img {
  max-width: rem(641);
  width: 100%;
  @include mq(md) {
    order: 3;
    max-width: unset;
    margin-top: -7%;
    position: relative;
    z-index: -1;
  }
}

.p-concept__contents {
  display: contents;
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: rem(44);
  }
}

.p-concept__wrap {
  padding-left: rem(56);
  max-width: rem(410);
  width: 100%;
  @include mq(lg) {
    min-width: 300px;
    padding-left: rem(40);
  }
  @include mq(md) {
    padding-left: rem(20);
    background-color: $white;
    padding-bottom: rem(30);
    max-width: unset;
    min-width: unset;
  }
}

.p-concept__txt {
  font-size: rem(14);
  line-height: 1.8;
  @include mq(lg) {
    font-size: 10px;
  }
  @include mq(md) {
    font-size: vw-m(12);
    line-height: calc(25/12);
  }
}

.p-concept__txt:nth-child(2) {
  margin-top: rem(25);
}

.p-concept__company {
  margin-top: rem(30);
  max-width: rem(163);
  width: 100%;
  @include mq(md) {
    max-width: vw-m(130);
  }
}

.p-concept__name {
  margin-top: rem(15);
  max-width: rem(246);
  width: 100%;
  @include mq(md) {
    max-width: vw-m(170);
  }
}

.p-concept__info {
  margin-top: rem(10);
  font-family: $font-sub;
  font-size: rem(14);
  line-height: calc(22/14);
  @include mq(lg) {
    font-size: 10px;
  }
  @include mq(md) {
    font-size: vw-m(12);
    line-height: calc(25/12);
  }
}

.p-concept__profile{
  margin-top: rem(15);
}

.p-concept__profile dl{
  display: flex;
  font-size: rem(14);
  font-family: $font-sub;
  line-height: calc(23/14);
  @include mq(lg) {
    font-size: 10px;
  }
  @include mq(md) {
    font-size: vw-m(10);
    line-height: calc(16/10);
  }
}

.p-concept__profile dt {
  width: rem(89);
  white-space: nowrap;
  @include mq(md) {
    width: vw-m(70);
    white-space: normal;
  }
}

.p-concept__profile dd {
  white-space: nowrap;
  margin-left: rem(25);
  @include mq(md) {
    margin-left: rem(0);
    white-space: normal;
    width: vw-m(155);
  }
}

.p-concept__heading {
  margin-left: rem(40);
  writing-mode: vertical-rl;
  font-size: rem(49);
  letter-spacing: 0.02em;
  color: $gold;
  font-weight: bold;
  @include mq(lg) {
    margin-left: rem(20);
  }
  @include mq(md) {
    margin-left: 0;
    font-size: vw-m(30);
  }
}

.p-concept__bg {
  width: 100%;
  height: rem(698);
  background-image: url(../img/bg_01.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include mq(md) {
    background-image: url(../img/bg_01_sp.webp);
    margin-top: rem(86);
    height: vw-m(273);
  }
}

.p-concept__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(271);
  @include mq(md) {
    width: vw-m(280);
    top: 0;
  }
  @include mq(sm) {
    width: vw-m(314);
    top: 0;
  }
}